/* .container :nth-child(1){
    box-sizing: border-box;
  color: red;
  float: left;
  width: 50%;

  border-right: 1px solid;
}

.container :nth-child(2){
    color: black;
    float: right;
  width: 50%;
 box-sizing: border-box;
 padding-left: 5px;

  } */

  body,html{
    
 
    background-color: black;
    padding-top: 25vh;
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border: 3px solid red; 
    background-color: red;
   
  }